<div class="text-center">
    <h1>
     CHAT
    </h1>
<input id="chat-box" name="chatbox" type="text" class="text-left"value="" />



<div>
    <div class="row">
        <div class="col-8"><h2>CHAT</h2></div>
        <div class="col-4"><a href="/">Exit</a></div>
    </div>
    <hr>
    <div>
        <input type="text" name="chatbox" id="chat-box">
    </div>
    <div>
        <ul id="messageLog">

        </ul>
    </div>
</div>
<div id="div" style="border: 1px solid rgb(0, 0, 0);"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/chat.js"></script>